<div class="ask-contacts">
  <div class="errors">
    <% @errors.each do |error| %>
    <p><%= error %></p>
    <% end %>
  </div>
      <%= form_tag("/contacts/create") do %>   
        <div class="text-wrap">
            <input type="text" name="name" placeholder="名前" value="<%= params[:name] %>"/>  
        </div>
        <div class="text-wrap">
            <input type="text" name="email" placeholder="メールアドレス" value="<%= params[:email] %>"/>  
        </div>
      <div class="textarea-wrap">
        <textarea name="ask" placeholder="お問い合わせ内容"><%= params[:ask] %></textarea>  <!-- 値を保持 -->
      </div>
      <input type="submit" value="送信" />
      <% end %>
</div>