<% @tweets.each do |tweet| %>
  <%= tweet[0] %>
  <%= tweet[1] %>
  <%= tweet[2] %>
<%end %>
<div class="top">
  <h2>いまどうしてる？をつぶやこう</h2>
  <div class="tweets">
    <ul>
      <% @tweets.each do |tweet| %>
      <li>
        <%= tweet.name %>: <%= tweet.tweet %>
        <span><%= tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>
