<!--ユーザーの登録変更ページ-->
<div class="profile_edit container">
   
  <%= form_for @user, url: profile_edit_path do |f| %>
  <h1>ユーザー登録情報変更</h1>
    <div class="field">
      <%= f.label "名前" %>
      <%#new_nameなどにしたい場合はどうすれば良いのか？%>
      <%= f.text_field :name, placeholder: "名前を入力して下さい。" %>
    </div>
    <div class="field">
      <%= f.label :profile, "自己紹介文" %>
      <%= f.text_field :profile, placeholder: "自己紹介をどうぞ" %>
    </div>
    <div class="field">
      <%= f.label "パスワード" %>
      <%= f.password_field :new_password, placeholder: "パスワードを更新しない場合は空白でお願いします。" %>
    </div>
    <div class="field">
      <%= f.label "パスワード(確認)" %>
      <%= f.password_field :new_check_password, placeholder: "同じパスワードを入力してください。" %>
    </div>
    <div class="field">
      <label>プロフィール画像</label>
      <div class="file_wrap">
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="button_wrap">
      <input type="submit" value="保存する" class="button">
    </div>
  <% end %>
</div>