<!--販売されている商品の一覧ページ-->

<!DOCTYPE html>
<html> 
  <head>
    <title>CodeCamp_EC</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>
<div class="main_container">
  <!-- サイドメニュー部分 -->
  <%= render partial: 'search_menu' %>
  
  <!-- 商品画像部分 -->
  <!--後にキーワード検索や価格表示をするとこちらのページを変える必要がある。-->
  <div class="main-wrapper">
    <%if @products.any? %>
        <ul>
          <% @products.each do |p| %>
            <div class="product">
              <li>
                <div class="product_name"><%= p.name %></div>
                <%= link_to item_detail_path(p) do %>
                      <div class="image" style="background: url('<%= image_url_product(p) %>'); background-position: 50%; background-size: cover;"></div>
                <%end%>
                <div class="product_footer">
                  <div class="price"><%= p.price %>円</div>
                  <div class="like">
                    <!--いいねが押されているか押されていないかで表示を変える-->
                    <%= link_to likes_path(p) do %>
                      <i class="fa <%= @user.check_like(p)? "fa-heart active" : "fa-heart-o" %>"></i>
                    <%end%>
                  </div>
                </div>
              </li>
            </div>
          <% end %>
        </ul>
        <div><%= paginate @products %></div>
    <%else%>
      <p class="empty">商品が存在しません。</p>
    <%end%>
    </div>
  </div>
</html>